# docker-compose.yml
version: '3.8'

services:
  nextjs-app:
    image: nextjs-ssr-app:latest # Usaremos este nombre de imagen
    container_name: nextjs_app_container
    restart: always
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "8083:80" # Expone el puerto 8083 del host
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - nextjs-app